* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: arial;
}

main {
  display: flex;
  flex-direction: row;
}

main > .statistics {
  display: flex;
  flex-direction: column;
  padding: 1rem 2rem;
  align-items: center;
  gap: 0.25rem;
  min-width: 25%;
  max-width: 25%;
}

.statistics > .photo-user {
  width: 50%;
}

.statistics > .name-user {
  text-align: center;
  font-weight: 600;
  font-size: 1.75rem;
  width: 100%;
  padding: 0.75rem;
  border-bottom: 2px solid #d97014;
}

main > .publications {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.25rem;
  border-left: 2px solid #c2bebe;
  border-right: 2px solid #c2bebe;
  border-bottom: 2px solid #c2bebe;
  min-width: 50%;
  max-width: 50%;
  margin-bottom: 15px;
}

.publications > .posts {
  display: flex;
  width: 100%;
  flex-direction: column;
  border-top: 2px solid #c2bebe;
  align-items: center;
  gap: 0.25rem;
}

.posts > .post {
  border-bottom: 2px solid #c2bebe;
  width: 100%;
  padding: 5px;
  gap: 0.25rem;
}

.post > .location {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.location > p {
  font-size: 1.25rem;
  font-weight: 600;
}

main > .user-auth {
  display: flex;
  flex-direction: column;
  padding: 1rem 2rem;
  align-items: center;
  gap: 0.25rem;
  min-width: 25%;
  max-width: 25%;
}

.user-auth > .btn-auth {
  background-color: #d97014;
  color: #ffffff;
  width: 70%;
  border: none;
  border-radius: 15px;
  font-size: 16pt;
  font-weight: bold;
  height: 50px;
}

.user-auth > .btn-auth:hover {
  cursor: pointer;
}

footer {
  display: flex;
  background-color: #d97014;
  flex-direction: row;
  color: #ffffff;
  justify-content: space-between;
  padding: 2rem 4rem;
  align-items: center;
}

footer > .name-enterprise {
  font-weight: 600;
  font-size: 1.25rem;
}

footer > .container-medias-contact-enterprise {
  display: flex;
  flex-direction: row;
  gap: 2.25rem;
}

.modal_overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  min-height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 98;
  display: none;
}

.modal_overlay.active,
.modal_login.active {
  display: block;
}

.modal_login {
  text-align: center;
  padding: 1rem;
  width: 500px;
  height: 250px;
  z-index: 99;
  position: fixed;
  flex-direction: column;
  top: 100px;
  left: calc(50% - 250px);
  display: none;
  background-color: white;
  border-radius: 25px;
}

.modal_login > form {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-top: 1rem;
  gap: 0.8rem;
}

.modal_login > form > input {
  height: 40px;
  padding: 0 1rem;
  font-size: 14pt;
  border: 1px solid black;
  border-radius: 10px;
}

.modal_login > form > div {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}
.modal_login > form > div > button {
  height: 45px;
  border: none;
  width: 100%;
  cursor: pointer;
  border-radius: 10px;
  font-weight: bold;
}

.modal_login > form > div > button:nth-child(1) {
  background-color: white;
  border: 3px #d97014 solid;
}

.modal_login > form > div > button:nth-child(2) {
  background-color: #d97014;
  color: white;
}
